<!DOCTYPE html>
<!--动态配置静态文件目录-->
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <p>捕获参数：</p>
    <p>{{num}}</p>

    <form action="">
        {% csrf_token %}
        <input type="text" name="username" value="">用户名:
    </form>

    <a href="{% url 'booktest:arg' num=1 %}">动态url跳转...</a>

    <img src="/static/images/1.jpg" alt="">
    
<!--    动态加载静态文件目录-->
    <img src="{% static 'images/1.jpb' %}" alt="">
    
</div>

</body>
</html>